:root { 
--blue_900:#0b438d; 
--orange_A200:#ffa043; 
--blue_gray_400:#84818a; 
--blue_A400:#1f7bf4; 
--light_blue_A400:#00aaff; 
--gray_800:#484848; 
--orange_A700:#ff5f00; 
--gray_900:#202020; 
--gray_200:#e8e8e8; 
--gray_100:#f6f6f6; 
--green_A700:#0aa630; 
--gray_900_b7:#202020b7; 
--blue_gray_700:#46467f; 
--red_A700_01:#eb001b; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--red_A700:#fc0000; 
}